.bg-img-wrapper {
    position: relative;
    background-image: url(../../images/hero-bg-mobile\ img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;

    & .hero {
        width: 100%;
        height: 100%;

        background-color: rgba(47, 48, 58, 0.4);

        & .container {
            max-width: 360px;
            height: 164px;

        }

        & .title {
            margin-top: 118px;
            margin-bottom: 30px;
        }


    }
}