h2 {
    font-size: 28px;
    line-height: 1.179;
}

.page-header {
    & .header-nav .link {
        font-size: 40px;
        line-height: 1.175;
    }

    & .header-contacts .text {
        font-size: 34px;
        line-height: 1.176;
    }
}

.hero {
    & h1 {
        font-size: 26px;
        line-height: 1.615;
    }

    & .link {
        font-size: 16px;
        line-height: 1.875;
    }
}

.features {
    & .title {
        font-size: 14px;
        line-height: 1.14;
    }

    & .text {
        font-size: 14px;
        line-height: 1.71;
    }
}

.our_team .cards .item {

    & .title,
    & .text {
        font-size: 16px;
        line-height: 1.188;
    }
}

.page-footer {
    & .addresses-block .text {
        font-size: 14px;
        line-height: 1.714;
    }

    & .socials-block .title,
    & .form-block .title {
        font-size: 14px;
        line-height: 1.143;
    }

    & .form-block {

        & .input,
        & .input::placeholder {
            font-size: 16px;
            line-height: 1.25;
        }

        & .submit-btn {
            font-size: 16px;
            line-height: 1.875;
        }
    }
}