.page-footer {

    & .container {
        & .wrapper-desktop {
            display: flex;
            justify-content: space-between;
            margin-top: 60px;
            margin-bottom: 60px;
        }

        & .wrapper-tablet {
            justify-content: space-between;
            width: 496px;
        }
    }

    & .addresses-block {

        & .logo {
            justify-content: left;
        }

        & .text {
            text-align: left;
        }
    }

    & .socials-block {
        & .title {
            text-align: left;
        }
    }

    & .form-block {
        & .title {
            text-align: left;
        }

        & .wrapper {
            display: flex;

            & .input {
                margin-right: 12px;
                width: 358px;
            }

            & .submit-btn {
                margin-top: 20px;
            }
        }

    }
}