.our_work {
    display: block;

    & .container>.title{
        margin-bottom: 50px;
    }

    & .list {
        display: flex;
        margin-bottom: 94px;
        // justify-content: space-between;

        & .item {
            position: relative;
            display: flex;

            & .title {
                display: flex;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translate(-50%, 0);

                width: 100%;
                height: 70px;
                background-color: rgba(47, 48, 58, 0.8);

                justify-content: center;
                align-items: center;
                text-transform: uppercase;
            }

            &+.item {
                margin-left: 30px;
            }
        }
    }
}