$primary-font-family: Roboto, sans-serif;
// $primary-font-size: 14px;
$primary-font-weight: 400;

$primary-title-color: #212121;
$primary-text-color: #757575;
$white-font-color: #fff;

$accent-color: #2196F3;
