@import "./components/fonts";
@import "./components/container";

/*Layout */
@import "./layouts/header";
@import "./layouts/hero";
@import "./layouts/features";
@import "./layouts/our-work";
@import "./layouts/our-team";
@import "./layouts/regular-clients";
@import "./layouts/footer";

body.overflow-modal {
    overflow: hidden;

    &::after {
        content: "";
        position: absolute;
        z-index: 6;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background-color: rgb(0, 0, 0, 0.2);
    }
}

@media screen and(max-width:767px) {
    body.overflow-burger {
        overflow: hidden;
    }
}